Control/TeslaDesktopClient/Connected Services/TeslaCommunication/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://STM32TeslaCommunication" elementFormDefault="qualified" targetNamespace="http://STM32TeslaCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8282/TeslaCommunication/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TeslaCommunication" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comPortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQueues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQueuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHardwareState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHardwareStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TeslaCommunication" minOccurs="0" name="getHardwareStateResult" nillable="true" type="q1:HardwareState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setTimersConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TeslaCommunication" minOccurs="0" name="timersConfiguration" nillable="true" type="q2:TimersConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setTimersConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodStart" type="xs:int" />
        <xs:element minOccurs="0" name="periodStop" type="xs:int" />
        <xs:element minOccurs="0" name="delay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchGeneratePWM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchGeneratePWMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>