Control/TeslaDesktopClient/Connected Services/TeslaCommunication/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TeslaCommunication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeslaCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HardwareState">
    <xs:sequence>
      <xs:element name="enabledF1" type="xs:boolean" />
      <xs:element name="enabledF2" type="xs:boolean" />
      <xs:element name="enabledF3" type="xs:boolean" />
      <xs:element name="enabledF4" type="xs:boolean" />
      <xs:element name="enabledF5" type="xs:boolean" />
      <xs:element name="enabledF6" type="xs:boolean" />
      <xs:element name="ledLight" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HardwareState" nillable="true" type="tns:HardwareState" />
</xs:schema>